html {
    height: 100%; 
    width: 100%;
    padding: 0;
    margin: 0;
  }
body {
    background-color: bisque;
    text-align: center;
    color: black;
    font-size: x-large;
}

input[type=submit] {
    cursor:pointer;
    border-radius: 3px;
    float: left;
    font-size: xx-large;
    width: 50%;
    height: 30vh;
    vertical-align: middle;
}

#button_1{
    background: red;
}

#button_2{
    background: LimeGreen;
}

#button_3{
    background: yellow;
}

#button_4{
    background: RoyalBlue;
}