body {
    background-color: bisque;
    text-align: center;
    color: black;
    font-size: x-large;
}

input[type=submit] {
    cursor:pointer;
    font-size: x-large;
    border: 1px solid #f44c0e;
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;
}