html {
    height: 100%; 
    width: 100%;
    padding: 0;
    margin: 0;
  }
body {
    background-color: Silver;
    text-align: center;
    color: black;
    font-size: x-large;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

input {
    cursor:pointer;
    font-size: x-large;
    border: 3px solid black;
    color: #fff;
    background: tomato;
    padding: 1% 2%;
    border-radius: 3px;
    margin-bottom: 0.5%;
    margin-top: 0.5%;
}