{% extends './layout.html' %}

{% block title %}
    {{ data.web }}
{% endblock %}

{% block body %}
    <h1>{{ data.welcome_message }}</h1>
    <h2>Welcome to CloneHoot</h2>
    <h3>Players: <span id="players-list">{{ data.players }}</span></h3>

    <form method="POST">
        <input type="submit" name="submit_button" value="Start Game" />
    </form>
{% endblock %}

{% block scripts %}
<script>
    setInterval(() => {
        socket.emit('update_players');
    }, 2000);
</script>
{% endblock %}