<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- Link to common CSS for the site's layout -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <!-- Main content block that will be overridden by child templates -->
    {% block body %}
    {% endblock %}
    
    <!-- Link to common JavaScript functionality for the site -->
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
    <script>
        const socket = io();
        
        socket.on('connect', () => {
            console.log('Connected to server');
        });

        // Eventos comunes de Socket.IO
        socket.on('players_updated', (data) => {
            const playersList = document.getElementById('players-list');
            if (playersList) {
                playersList.textContent = data.players;
            }
        });
    </script>
    {% block scripts %}{% endblock %}
</body>
</html>