{% extends './layout.html' %}

{% block title %}
    {{ data.web }}
{% endblock %}

{% block body %}
    <h1>Waiting for All Players...</h1>
    <h2>The correct answer was:</h2>
    <h2>{{ data.correct_answer }}</h2>
{% endblock %}

{% block scripts %}
<script>
    setInterval(() => {
        socket.emit('check_next_status');
    }, 100);

    socket.on('next_status', function(data) {
        if (data.game_finished) {
            window.location.href = '/fin';
        } else if (data.should_advance) {
            window.location.href = '/player/next';
        }
    });
</script>
{% endblock %}