{% extends './layout.html' %}

{% block title %}
    {{ data.web }}
{% endblock %}

{% block body %}
    <h1>{{ data.welcome_message }}</h1> <!-- Changed from 'bienvenida' -->
    <h2>Welcome to CloneHoot</h2>
    <form action="/player/register" method="POST"> <!-- Changed action to '/player/register' -->
        <p><h3>Username already taken or invalid name</h3></p>
        <p><h3>Please choose another Username</h3></p>
        <p><input type='text' name='apodo'/></p>
        <p><input type='submit' value='Play'/></p>
    </form>
{% endblock %}