<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ data.web }}</title>
    {% if data.image %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout_test_img.css') }}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout_test.css') }}">
    {% endif %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
</head>
<body>
    <h1>{{ data.topic }}</h1>
    {% if data.image %}
        <img src="{{ data.image }}" alt="Question Image">
    {% endif %}
    <h2>{{ data.question }}</h2>
    <ol>
        <li class="one">1. {{ data.answers[0] }}</li>
        <li class="two">2. {{ data.answers[1] }}</li>
        <li class="three">3. {{ data.answers[2] }}</li>
        <li class="four">4. {{ data.answers[3] }}</li>
    </ol>
    <h3>Time Remaining: <span id="time-remaining">{{ data.time_remaining }}</span> seconds</h3>
    <h3>Players: {{ data.players }}</h3>
</body>
<script type="text/javascript" charset="utf-8">
    const socket = io.connect('http://' + document.domain + ':' + location.port);
    
    // Actualizar cada 100ms para una cuenta regresiva más fluida
    setInterval(() => {
        socket.emit('request_question_update');
    }, 100);
    
    socket.on('update_question', function(data) {
        if (data.redirect) {
            window.location.href = '/test';
        } else if (data.time_remaining !== undefined) {
            document.getElementById('time-remaining').textContent = data.time_remaining;
        }
    });
</script>
</html>